[alias]
    b = branch
    co = checkout
    ci = commit
    cm = commit -m
    st = status
    lo = log --oneline
    ad = add -A
    al = config --get-regexp ^alias\\.
[commit]
    template = ~/.commit_template
[core]
    editor = vim
[color]
    ui = auto
[diff]
    tool = vimdiff
    renames = copies
    mnemonicprefix = true
[include]
    path = ~/.gitconfig.local

